body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* First Container */

.header-menu {
    display: flex;
    justify-content: right;
    gap: 21px;
    list-style-type: none;
    padding-bottom: 100px;
    padding-top: 15px;
}

.header-logo {
    padding-bottom: 100px;
    padding-top: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header-link, .description {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}   

#first-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    gap: 75px;
}

.front-image {
    width: 500px;
    height: auto;
    padding-bottom: 100px;
}

.title {
    width: 500px;
    font-size: 48px;
    color: #F9FAF8;
}

.description {
    width: 450px;
}

.sign-up-button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

/* Second container */

.second-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    text-align: center;
    padding-bottom: 40px;
}

.info-text {
    width: 150px;
    text-align: center;
}

.cat-image {
    width: 175px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

/* Third Container */

.third-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote {
    width: 550px;
}

.quote-text {
    font-size: 30px;
    margin: 0;
    text-align: justify;
}

.quote-author {
    text-align: right;
    font-size: 20px;
    margin: 0;
}

/* Fourth container */

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px;
}

.sign-up-box {
    background-color: #3882f6;
    padding: 30px 70px;
    display: flex;
    gap: 150px;
    border-radius: 10px;
}

.sign-up-header, .sign-up-description {
    margin: 0;
    color: #F9FAF8;
}

.btn-2 {
    border: 3px solid #F9FAF8;
}